        /* Multicolor background with animation */
        body {
          background: linear-gradient(270deg, #ffcc00, #ff0066, #33ccff, #00cc66);
          background-size: 800% 800%;
          animation: gradientBackground 10s ease infinite;
      }

      @keyframes gradientBackground {
          0% { background-position: 0% 50%; }
          50% { background-position: 100% 50%; }
          100% { background-position: 0% 50%; }
      }


.card {
    display: flex;
    justify-content: center;  /* Horizontally centers the image */
    align-items: center;      /* Vertically centers the image */
    height: 60vh;            /* Full height of the viewport, or set this to the desired height */
   
  }
 

  .card img {
    max-width: 90%;          /* Ensures the image stays responsive */
    max-height: 90%;         /* Prevents the image from overflowing the container */
    transition: opacity 0.5s ease-in-out; /* 0.5s for the fade-in/out effect */
  }
  
  .btn1 {
    padding: 10px 20px;      /* Adds some padding for a nicer button look */
    margin-right: 10px;      /* Adds space between the buttons */
    cursor: pointer;         /* Changes the cursor to a pointer */
    border: none;            /* Removes the default button border */
    color: white;            /* Sets text color to white */
    border-radius: 5px;      /* Adds rounded corners */
    font-size: 16px;  
    background-color: red;        /* Increases font size */
  }
  .btn2 {
    padding: 10px 20px;      /* Adds some padding for a nicer button look */
    margin-right: 10px;      /* Adds space between the buttons */
    cursor: pointer;         /* Changes the cursor to a pointer */
    border: none;            /* Removes the default button border */
    color: white;            /* Sets text color to white */
    border-radius: 5px;      /* Adds rounded corners */
    font-size: 16px;   
    background-color: blue;      /* Increases font size */
  }
  .main-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
  
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(217, 252, 232);
  color: rgb(97, 165, 42);
}
/* Moving heading like a newspaper ticker */
.heading {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.heading::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
}

.scrolling-text {
  display: inline-block;
  animation: move 20s linear infinite;
}

@keyframes move {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}
.score{
  display: flex;
  align-items: flex-end;
  justify-content: end;
}